*{
    margin: 0px;
    padding: 0px;
}

html body{
    color: darkred;
    background-color: activeborder;
}

div.page-header{
    display: table;
    width: 100%;
    position: relative;
    border-spacing: 10px;
    color: #f1c40f;
    background-image:linear-gradient(#f1c40f , red ,#f1c40f);
    margin-bottom: 5px;
}



.page-header div{
    display: table-cell;
    background: grey;
    text-align: center;
}





/*userField hide - show*/

.hide, .hide + label ~ div{
    display: none;
}

.hide + label,
.hide:checked + label {
    border-bottom: 1px dotted green;
    cursor: pointer;
}


.hide:checked + label + div {
    position: absolute;
    text-align: left;
    display: inherit;
    background: green;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    border-style: dotted;

}
/*=========================================================================*/

#content{

    background: burlywood;
    text-align: center;
    margin: 0 5% 0 5%;

}
.contentHeader+div{
    text-align: left;
    padding: 10px;
}


footer.page-footer {
    width: 100%;
    padding: 20px;
    font-size: 14px;
    color: black;
    background-color: #f1c40f;
    background-image:
        linear-gradient(45deg, transparent 50%, white 50%),
        linear-gradient(-45deg, transparent 50%, white 50%),
        linear-gradient(135deg, transparent 50%, #2c3e50 50%),
        linear-gradient(-135deg, transparent 50%, #2c3e50 50%);
    background-size: 10px 12px;
    background-repeat: repeat-x;
    background-position: 0 0, 0 0, 0 100%, 0 100%;
}



