*{
    margin: 0px;
    padding: 0px;
    
}
body, html {
    height: 100%;
}

body{
    display: block;
    color: darkred;
    background-color: activeborder;
    text-align: center;
    background: url('/resources/pictures/Hexagon-6.JPG')  no-repeat center center fixed;
    background-repeat: repeat-x;
    background-size: auto 100% ;
   
   
}

#sitename a ,
#sitename a:visited ,
#sitename a:active {
    font-size: 40px;
    color: #f1c40f;
    text-decoration: none; 

}

div.page-header{
    display: table;
    width: 100%;
    position: relative;
    border-spacing: 10px;
    color: #f1c40f;
    background-image:linear-gradient(#f1c40f , red ,#f1c40f);
    margin-bottom: 5px;
}



.page-header div{
    display: table-cell;
    background: grey;
    text-align: center;
}





/*userField hide - show*/

.hide, 
.hide + label ~ div{
    display: none;
   
}

.hide + label,
.hide:checked + label {
   
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;


}



.hide:checked + label + div {
    position: absolute;
    text-align: left;
    display: inherit;
    background: green;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    border-style: dotted;

}
/*=========================================================================*/


/* blocks to show*/
.container{
    background-color: rgba(33,33,33,0.4);
    color: cyan
}

#content{

    background-color:  rgba(255,177,0,0.3);
    
    margin: 0 5% 0 5%;

}
.contentHeader+div{
    text-align: left;
    padding: 10px;
}



/*footer*/
#page-footer {
   
    width: 100%;
    padding-top:20px;
    padding-bottom:20px;
    font-size: 14px;
    color: black;
    background-color: #f1c40f;
    background-image:
        linear-gradient(45deg, transparent 50%, white 50%),
        linear-gradient(-45deg, transparent 50%, white 50%),
        linear-gradient(135deg, transparent 50%, #2c3e50 50%),
        linear-gradient(-135deg, transparent 50%, #2c3e50 50%);
    background-size: 10px 12px;
    background-repeat: repeat-x;
    background-position: 0 0, 0 0, 0 100%, 0 100%;
}

/*forms*/
form{
    background: #332b24;
    margin: auto;
    max-width: 250px;
    
}
form input{
    background: #2c3e50;
    color:white;
    margin:5px;
    border-radius: 40px;
}
form input[type='submit']{
    border-radius: inherit;
}

fieldset {
    color:white;
}




